.ct-connect {
	margin: 0 1rem 0 0;
	padding: 0px;
	display: flex;
	align-items: center;
}

.ct-connect li {
	float: left;
}

.ct-connect li a {
    margin: 7px;
    outline: none;
    line-height: 40px;
}